<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/resources/css/test.css}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> 
        <title>Course Registration</title>
</head>

<body>
  <div id="testheader">
    <div class="container">
        <div class=row>        
            <div class="col-md-5 ">
        <a href="MNU001.html"><h3>Student Registration</h3></a>
    </div>  
    <div class="col-md-6">
					<p>User: ${sessionScope.loginName}</p>
					<p>Current Date : ${sessionScope.date}</p>
				</div> 
    <div class="col-md-1" >
       <input type="button" class="btn-basic" id="lgnout-button"
						value="Log Out" onclick="location.href='/MvcProjectWithSpring/logOut'">
    </div>        
</div>
</div>

</div>
    <!-- <div id="testsidebar">Hello World </div> -->
    <div class="container">
    <div class="sidenav">
        
        <button class="dropdown-btn" > Class Management <i class="fa fa-caret-down"></i></button>
        
           <div class="dropdown-container">
           <a href="courseAddPage">Course Registration </a>
          <a href="stuAddPage">Student Registration </a>
          <a href="stuSearchPage">Student Search </a>
        </div>
        <a href="searchUserPage">Users Management</a>
      </div>
      <div class="main_contents">
    <div id="sub_content">
      
      <form action = "searchStu" method = "post" class="row g-3 mt-3 ms-2" th:object="${stuBean}">
        <div class="col-auto">
          
          <label for="staticEmail2" class="visually-hidden">studentID</label>
          <input type="text"  class="form-control" id="staticEmail2" placeholder="Student ID" th:field="*{searchId}">
        </div>
        <div class="col-auto">
         
          <label for="staticEmail2" class="visually-hidden">studentName</label>         
          <input type="text"  class="form-control" id="inputPassword2" placeholder="Student ID" th:field="*{searchName}">
        </div>
        <div class="col-auto">
         
            <label for="staticEmail2" class="visually-hidden">Course</label>           
             <input type="text"  class="form-control" id="inputPassword2" placeholder="Course" th:field="*{searchCourse}">
          </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success mb-3">Search</button>
        </div>
        <div class="col-auto">
          <button type="reset" class="btn btn-secondary mb-3">Reset</button>
        </div>
      </form>
<div>
<div>${errorFill}</div>
      <table class="table table-striped" id="stduentTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Course</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
         <tbody>   
         <tr th:each="data: ${stuList}">
            <td th:text="${dataStat.index+1}"/>
            <td th:text="${data.stuId}" />
            <td th:text="${data.stuName}"/>           
            <td>
            <span th:each="cou: ${data.stuAttend}" th:text="${cou}+','"></span>
            </td>
            <td>
              <a th:href="@{/updateStuPage(id=${data.stuId})}"><button type="button" class="btn btn-secondary mb-2">See More</button></a> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</div>
</div>
        <div id="testfooter">
            <span>Copyright &#169; ACE Inspiration 2022</span>
        </div>
        <script>
            /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;
            
            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var dropdownContent = this.nextElementSibling;
              if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
              } else {
              dropdownContent.style.display = "block";
              }
              });
            }
            </script>
</body>

</html>
